{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <p><span id="erreur"></span></p>
              <form class="user" action="{% url 'registrer_view'%}" method="POST">
                {% csrf_token%}
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <input type="text" oninput="checkUserName(this.value)"  class="form-control form-control-user" id="exampleuserName" name="username" placeholder="user Name">
                  </div>
                  <div class="col-sm-4">
                    <input type="text"   class="form-control form-control-user champ" id="examplefistName" name="first_name" placeholder="fist Name">
                  </div>
                  <div class="col-sm-4">
                    <input type="text"    class="form-control form-control-user champ" id="exampleLastName" name="last_name" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" oninput="checkUserEmail(this.value)"  class="form-control form-control-user" id="exampleInputEmail" name="email" placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password"   class="form-control form-control-user" id="exampleInputPassword"  placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password"   class="form-control form-control-user" id="exampleRepeatPassword" name="password" placeholder="Repeat Password">
                  </div>
                </div>
                <button id="envoi" type="submit" class="btn btn-primary btn-user btn-block">
                  Register Account
                </button>
                <hr>
               
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'login_view'%}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

<script type="text/javascript">
  $(document).ready(function () {
   
    var 
      $pseudo = $('#exampleuserName'),
      $mdp = $('#exampleInputPassword'),
      $confirmation = $('#exampleRepeatPassword'),
      $mail = $('#exampleInputEmail'),
      $envoi = $('#envoi'),
      
      $erreur = $('#erreur'),
      $champ = $('.champ');

      // Parametrage de la qualité du mot de pass
      var $strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
      var $mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");
      // End
    //Verification de la complexité du mot de pass
    $mdp.keyup(function(){

      if($strongRegex.test($(this).val())) {
        $(this).css({ // on remet le style des champs comme on l'avait défini dans le style CSS
          borderColor: 'green',
          color: 'green'
        });
      }
    else if($mediumRegex.test($(this).val())){
      $(this).css({ // on remet le style des champs comme on l'avait défini dans le style CSS
        borderColor: 'orange',
        color: 'orange'
      });
    }
    else{
      $(this).css({ 
        // on remet le style des champs comme on l'avait défini dans le style CSS
        borderColor: 'red',
        color: 'red'
      });
      $envoi.prop('disabled',true);

    }

      });
    // End
    
    // Verification de du nombre de caractère
    $champ.keyup(function () {
      if ($(this).val().length < 5) {
         // si la chaîne de caractères est inférieure à 5
        $(this).css({ // on rend le champ rouge
          borderColor: 'red',
          color: 'red'
        });
      }
      else {
        $(this).css({ // si tout est bon, on le rend vert
          borderColor: 'green',
          color: 'green'
        });
      }
    });
    // End 
    // Verification de la confirmation du mot de pass 
    $confirmation.keyup(function () {
      if ($(this).val() != $mdp.val()) { // si la confirmation est différente du mot de passe
        $(this).css({ // on rend le champ rouge
          borderColor: 'red',
          color: 'red'
        });
        $envoi.prop('disabled',true);
      }
      else {
        $(this).css({ // si tout est bon, on le rend vert
          borderColor: 'green',
          color: 'green'
         
        });
        
      }
    });
    //End
    function verifier(champ) {
      if (champ.val() == "") { // si le champ est vide
        $erreur.css('display', 'block'); // on affiche le message d'erreur
        $erreur.css('color', 'red');
        champ.css({ // on rend le champ rouge
          borderColor: 'red',
          color: 'red'
        });
      }
    }

    $envoi.click(function (e) {
       // on annule la fonction par défaut du bouton d'envoi
      // puis on lance la fonction de vérification sur tous les champs :
      verifier($pseudo);
      verifier($mdp);
      verifier($confirmation);
      verifier($mail);
    });

    $reset.click(function () {
      $champ.css({ // on remet le style des champs comme on l'avait défini dans le style CSS
        borderColor: '#ccc',
        color: '#555'
      });
      $erreur.css('display', 'none'); // on prend soin de cacher le message d'erreur
    });
    });


  function checkUserName(username){
    var $boutonValider=$('#envoi')
    var $usernameField=$('#exampleuserName')

    $.get(
        "{% url 'verificationUserName' %}",
            { username: username},
    function (response) {
   
        if (response=="true"){
          //alert(response)
          $usernameField.css({ // on remet le style des champs comme on l'avait défini dans le style CSS
            borderColor: 'red',
            color: 'red'
          });
          $boutonValider.prop('disabled',true);
        }
        else if(response=="false"){
         // alert("Not matched")
           $usernameField.css({ // on remet le style des champs comme on l'avait défini dans le style CSS
            borderColor: '#ccc',
            color: '#555'
          });
          $boutonValider.prop('disabled',false);
         
        }else{
          alert(response)
        }

     },
        "json"
     );

}
  function checkUserEmail(email){
    var $boutonValider=$('#envoi')
    var $usernameField=$('#exampleInputEmail')

    $.get(
        "{% url 'verificationUserEmail' %}",
            { email: email},
    function (response) {
   
        if (response=="true"){
          //alert(response)
          $usernameField.css({ // on remet le style des champs comme on l'avait défini dans le style CSS
            borderColor: 'red',
            color: 'red'
          });
          $boutonValider.prop('disabled',true);
        }
        else if(response=="false"){
         // alert("Not matched")
           $usernameField.css({ // on remet le style des champs comme on l'avait défini dans le style CSS
            borderColor: '#ccc',
            color: '#555'
          });
          $boutonValider.prop('disabled',false);
         
        }else{
          alert(response)
        }

     },
        "json"
     );

}
</script>
</body>

</html>
